[Unit]
Description=StreamDVR Service
After=network.target

[Service]
Type=simple
User=user #Your Username
Group=group #Your Group name. Usually same as your username.
WorkingDirectory=/home/[username]/StreamDVR
ExecStart=/usr/bin/streamdvr
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT


[Install]
WantedBy=multi-user.target
